/node_modules
.env
performanceTesting/admin/admin-test.json
performanceTesting/admin/admin-test.json.html
performanceTesting/booking/booking-test.json
performanceTesting/booking/booking-test.json.html
performanceTesting/course/course-test.json
performanceTesting/course/course-test.json.html
performanceTesting/course/course-test.json.html
performanceTesting/courseEnrollment/enrolment-test.json
performanceTesting/courseEnrollment/enrolment-test.json.html
performanceTesting/faculty/faculty-test.json
performanceTesting/faculty/faculty-test.json.html
performanceTesting/room/room-test.json
performanceTesting/room/room-test.json.html
performanceTesting/student/student-test.json
performanceTesting/student/student-test.json.html
performanceTesting/timetable/timetable-test.json
performanceTesting/timetable/timetable-test.json.html